body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.nav {
    height: 80px;
    /* background-color: black; */
    display: flex;
    align-items: center;
}

.logo{
    flex: 1;
}

img {
    padding: 10px 75px;
    width: 56px;
    height: 57px;
}

.menu{
    display: flex;
    width: 60%;
    justify-content: space-evenly;
}

a{
    color: white;
    text-decoration: none;
}

.menu-links{
    list-style-type: none;
    color: white;
    display: flex;
    width: 90%;
    justify-content: space-between;
    font-weight: 400;
    font-size: 25px;
}

.menu-links>a:hover{
    color:#78C9F9;
}

.open{
    /* margin-top: 30px; */
    display: none; 
    position: absolute;
    right: 75px;
    top: 30px;
}

.line{
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 3px;
    transition: all 0.5s;
}

.background{
    display: none;
    position: fixed;
    background-image: radial-gradient(rgba(0, 108, 180, 0.7), rgb(0, 63, 105, .7));
    width: 50px;
    height: 50px;
    /* margin-left: -7.5px; */
    border-radius: 100%;
    transition: all 0.5s;
    z-index: -1;
}

@media(max-width: 1000px){
    .open{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu-links{
        flex-direction: column;
        text-align: center;
        position:absolute;
        height: 92vh;
        top: 60px;
        width: 100vw;
        right: 100%;
        font-size: 30px;
        justify-content: center;
        justify-content: space-evenly;
        align-items: center;
    }

    .background{
        display: block;
    }
}