html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #141313;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #537FE7;
    border-radius: 10px;
}

body {
    background: #1e1e1e;
    font-family: 'Staatliches';
    /* font-family: 'segoe ui'; */
}

.circle {
    border-radius: 50%;
    /* background-color: #45F3FF; */
    /* position: relative;
    bottom: 20px;
    right: 25px; */
}

/* @media(max-width:766px){
    .circle{
        right: 22px;
    }
} */

main {
    border-left: solid #537fe7;
}

.blue {
    color: #78C9F9;
}

.blue-bg {
    background-color: #78C9F9;
}

.dark-blue {
    color: #537fe7;
}

.dark-blue-bg {
    background-color: #537fe7;
}

.light-blue {
    color: #45F3FF;
}

.light-blue-bg {
    background-color: #45F3FF;
}

.white-bg {
    background-color: #fff;
}

.card-bg {
    color: #3a3838;
}

.rubik {
    font-family: 'Rubik';
}

.ubuntu {
    font-family: 'Ubuntu';
}

.staatliches {
    font-family: 'Staatliches';
}

/* Leads */
.container__cards {
    display: grid;
    grid-gap: 1rem;
    /* margin: 1rem auto; */
    padding: 0 1rem;
    max-width: 70rem;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
}

.card {
    /* margin-top: 50px; */
    position: relative;
    margin-right: 2rem;
    line-height: 0;
    /* width: 90%; */
    cursor: pointer;
    border-radius: .2rem;
    background-color: #FFFFFF;
    box-shadow: 0 .01rem .03rem rgba(0, 0, 0, 0.12), 0 .1rem .5rem rgba(0, 0, 0, 0.24);
    transition: box-shadow 350ms cubic-bezier(0.790, 0.010, 0.375, 0.995);
}

.card:hover {
    box-shadow: 0 .5rem 2rem rgba(0, 0, 0, 0.25), 0 .5rem .9rem rgba(0, 0, 0, 0.22);
}

.card__image {
    width: 250px;
    /* width: 277.913px; */
    /* height: 277.913px; */
    height: 250px;
    padding: 0;
}

.card__title {
    line-height: 1.5;
    font-family: 'Staatliches';
    font-weight: 400;
    /* line-height: 52.5px; */
    margin: 0;
    width: 110%;
    /* height: 58.31px; */
    /* font-size: 42px; */
    color: #FFFFFF;
    padding: 0rem .4rem;
    background-color: #5047BB;
    box-shadow: 0 -.35rem 3rem rgba(0, 0, 0, 0.25), 0 -.6rem 1.9rem rgba(0, 0, 0, 0.22);
    bottom: 0;
    position: absolute;
    will-change: bottom;
    transition-property: all;
    transition-duration: 350ms;
    transition-timing-function: cubic-bezier(0.790, 0.010, 0.375, 0.995);
}

.card__title:after {
    z-index: -1;
    content: '';
    width: 3rem;
    position: absolute;
    transform: skew(50deg);
    background-color: #5047BB;
    top: -2rem;
    height: 2rem;
    right: 1.2rem;
    transition: all 350ms cubic-bezier(0.790, 0.010, 0.375, 0.995);
}

.card__subtitle {
    font-size: 1.2rem;
    margin: .5rem 0;
}

.card__information {
    height: 0;
    opacity: 0;
    /* width: 100%; */
    top: 2.35rem;
    /* top: 2.35rem; */
    padding: .5rem;
    overflow-y: auto;
    line-height: 1.4;
    position: absolute;
    color: #FFFFFF;
    will-change: height;
    transition-property: height, opacity;
    background-color: rgba(0, 0, 0, .65);
    transition-duration: 350ms;
    transition-timing-function: cubic-bezier(0.790, 0.010, 0.375, 0.995);
}

.card__information--collapse {
    opacity: 1;
    height: calc(100% - 2.35rem);
}

/* .card__link {
    display: block;
    margin: .5rem .5rem;
    color: #150E1B;
    border-radius: 50%;
    padding: .2rem .5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    background-color: rgba(255, 255, 255, .7);
} */

/* .card__link:hover {
    background-color: #FFFFFF;
    fill: #000;
} */

.socials {
    margin-top: 1em;
    /* margin-left: 65px; */
    display: flex;
    justify-content: center;
}

.github {
    background: #fff !important;
}

p {
    margin-top: 25px;
}

/* Active */
.card--active .card__title {
    bottom: calc(100% - 2.4rem);
    box-shadow: 0 0.65rem 1rem rgba(0, 0, 0, 0.25), 0 .7rem 1.2rem rgba(0, 0, 0, 0.22);
}

.card--active .card__title:after {
    top: 2.4rem;
    transform: skew(-50deg);
}

@media only screen and (max-width: 78rem) {
    .container__cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 60rem) {
    .container__cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 31rem) {
    .container__cards {
        grid-template-columns: 1fr;
    }
}

.lb-bg {
    background-color: #45F3FF;
    color: black;
}

/* Registration */
.container {
    max-width: 600px;
    width: 100%;
    background: #fff;
    padding: 0px 30px;
    border-radius: 5px;
    /* position: relative; */
    /* top: 150px; */
    /* left: 30px; */
    background-color: #1E1E1E;
}

.container form .user__details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
    /* color: #5047BB; */
    color: #78C9F9;
    font-size: 20px;
}

/* inside the form user details */
form .user__details .input__box {
    width: calc(100% / 2 - 20px);
    margin-bottom: 15px;
}

.user__details .input__box .details {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}

.user__details .input__box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user__details .input__box input:focus,
.user__details .input__box input:valid {
    border-color: #78C9F9;
    color: #000;
    border-width: 3px;
    /* border-color: #9b59b6; */
}

/* submit button */
form .button {
    height: 45px;
    margin: 45px 0;
}

form .button input {
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    background: linear-gradient(135deg, #3a97d4, #a40ddf);
    transition: all 0.3s ease;
}

form .button input:hover {
    /* background: linear-gradient(-135deg, #a40ddf, #3a97d4); */
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
    color: ghostwhite;
}

@media only screen and (max-width: 584px) {
    .container {
        max-width: 100%;
    }

    form .user__details .input__box {
        margin-bottom: 15px;
        width: 100%;
    }

    form .gender__details .category {
        width: 100%;
    }

    .container form .user__details {
        max-height: 300px;
        overflow-y: scroll;
    }

    .user__details::-webkit-scrollbar {
        width: 0;
    }
}

/* Contact */
.container {
    width: 80%;
    /* padding: 20px; */
}

.container h2 {
    width: 100%;
    color: #45f3ff;
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
}

.container .row100 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.container .row100 .col {
    position: relative;
    width: 69%;
    padding: 0 10px;
    margin: 30px 0 10px;
    transition: 0.5s;
}

.container .row100 .inputBox {
    position: relative;
    width: 100%;
    height: 40px;
    color: #45f3ff;
}

.container .row100 .inputBox input,
.container .row100 .inputBox.textarea textarea {
    position: absolute;
    width: 100%;
    /* width: 65%; */
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    z-index: 1;
    color: #000;
}

.container .row100 .inputBox .text {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}

.container .row100 .inputBox input:focus+.text,
.container .row100 .inputBox input:valid+.text {
    top: -35px;
    left: -10px;
}

.container .row100 .inputBox .contact-line {
    position: absolute;
    bottom: 0;
    display: block;
    width: 80%;
    height: 2px;
    background: #45f3ff;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}

.container .row100 .inputBox input:focus~.contact-line,
.container .row100 .inputBox input:valid~.contact-line {
    height: 100%;
}

.container .row100 .inputBox.textarea {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
}

.container .row100 .inputBox.textarea textarea {
    height: 100%;
    resize: none;
}

.container .row100 .inputBox textarea:focus+.text,
.container .row100 .inputBox textarea:valid+.text {
    top: -35px;
    left: -10px;
}

.container .row100 .inputBox textarea:focus~.contact-line,
.container .row100 .inputBox textarea:valid~.contact-line {
    height: 100%;
}

input[type="submit"] {
    border: none;
    padding: 7px 35px;
    cursor: pointer;
    outline: none;
    background: #45f3ff;
    color: #000;
    font-size: 18px;
    border-radius: 2px;
}

/* .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #3a97d4;
    color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
} */

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    background-color: #5047BB;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    animation: fadeIn 0.5s ease-in-out;
    z-index: 1000;
    text-align: center;
    align-items: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 10;
    }
}

.tick {
    display: inline-block;
    margin-right: 10px;
    color: green;
    font-size: 24px;
    font-weight: bold;
    transform-origin: 50% 50%;
    animation: scaleIn 0.5s ease-in-out;
}

@keyframes scaleIn {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

/* Registrations Open  */

/* Comment out the cursor class given below. In the registration
   section of html remove the 'disabled' attribute from the button and remove all 'readonly' attributes from input tag. */

/* Registrations Closed */
/* Uncomment the cursor class given below. In the registration section of html add 'disabled' attribute to button and add 'readonly'
   attribute to all the input tag. */

/* NOTE: ALL THIS IS ONLY FOR REGISTRATION NOT CONTACT. */

/* Comment out or Uncomment This Section  */

/* .cursor{
                cursor: not-allowed;
            } */

/* Section ends here  */

/* Footer  */
footer {
    /* height: 20vh; */
    background-color: #141313;
}